.works {
	margin-bottom: 10px;
}
.work {
	cursor: pointer;
	margin-bottom: var(--margin-five);

	border: 1px solid transparent;
}

.work-container {
	padding: var(--padding-ten);
}

.work-icon {
	width: 100px;
	height: 100px;
	position: relative;
	border: 1px solid rgb(198, 197, 197);
	background-color: rgb(220, 220, 220);

	margin-right: var(--margin-five);
	margin-bottom: var(--margin-five);
}
.work-icon:last-child {
	margin-bottom: 0px;
}

.work-icon img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}
.work-icon img:hover {
	transform: scale(1.3);
	transition: 0.3s;
	background-color: rgb(198, 197, 197);
	box-shadow: var(--box-shadow);
}
.work-text {
	padding: var(--padding-ten);

	min-width: 60%;
	text-align: center;
}

.work-text p {
	font-weight: 700;
	font-size: 35px;
}
@media (max-width: 768px) {
	.work-text p {
		font-size: 16px;
	}
}

.work-diskription {
	padding: 15px;
	margin: 0px auto 30px auto;
	background-color: rgb(255, 255, 255);

	width: 80%;
}
.work-diskription p {
	text-indent: var(--text-indent);
	font-size: 18px;
}
@media (max-width: 768px) {
	.work-diskription p {
		font-size: 14px;
	}
	.work-diskription {
		min-width: 280px;
	}
}

.work-diskription-hidden {
	display: none;
}
.work-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
}
