.contacts {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 5px 30px 5px;
}
.contacts img {
	width: 40px;
}


.tel span {
	text-decoration: underline;
}
.tel span:hover {
	color: rgb(239, 255, 15);
	transition: 0.3s;
}
.tel {
	margin-bottom: var(--margin-five);
	text-align: center;
	color: white;
}
.tel a {
	color: white;
}

.contacts-icons img {
	margin-right: var(--margin-ten);
}
