.form {
	margin-top: 100px;
	/* width: 90%; */
	margin: 100px auto 30px auto;
	background-color: var(--block-background);
}

.form-centred {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
input,
textarea {
	border:var(--border);
	display: block;
	background-color: rgb(246, 246, 246);
	margin: 0px auto 2px auto;
	/* margin-bottom: 2px; */
	padding: 2px;
	width: 100%;
	
	/* font-size: 14px; */
}
input {
	margin-bottom: var(--margin-five);
}

.inputs input:focus {
	background-color: rgb(255, 255, 255);
	transition: 0.3s;
}

.inputs textarea:focus {
	background-color: rgb(255, 255, 255);
	transition: 0.3s;
}
.submit-reset {
	display: flex;
	width: 50%;
}
.submit,
.reset {
	border:var(--border);
	padding: var(--padding-five);
}
.submit {
	width: 70%;
	color: rgb(249, 249, 19);
	/* background-color: rgb(27, 200, 7); */
	background-color: rgb(30, 111, 16);
}
.submit:hover {
	background-color: rgb(33, 198, 14);
	color: white;
	transition: 0.3s;
}
.reset {
	width: 30%;
	margin-right: 2px;
	background-color: rgb(245, 245, 120);
}
.reset:hover {
	background-color: rgb(249, 249, 19);
	color: white;
	transition: 0.3s;
}


.inputs {
	/* border: 2px solid rgb(9, 255, 0); */
	width: 50%;
	margin-bottom: var(--margin-five);
}
/* a[href^="mailto:"] {
	color: red;
	font-size: 30px;
} */
@media (max-width: 768px) {
	.form {
		width: 300px;
	}

	.inputs {
		width: 100%;
		font-size: 10px;
	}
	input,
	textarea {
		font-size: 15px;
	}

	.submit {
		width: 50%;
	}
	.reset {
		width: 50%;
		margin-right: 2px;
	}
}


.contacts-container {
	margin-top: 100px;
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contacts {
}