body {
	font-family: 'Open Sans', sans-serif;
}

.wrapper-index {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(/image/kiskelovo/kis-1.JPEG) no-repeat;
	background-size: cover;
	background-position: 60% 50%;
}

.index {
	width: 100%;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
}
.index-title {
	margin-bottom: 90px;
}
.index-title h1 {
	font-size: 60px;
	color: #ddfddd;
	text-shadow: 0px 0px 3px rgb(0, 0, 0);
	text-align: center;
}
.index-title p {
	font-size: 25px;
	color: rgb(250, 252, 250);
	text-align: center;
	text-shadow: 0px 0px 2px black;
}
.index-title-title {
	margin-bottom: var(--margin-five);
	animation-name: index-title-title;
	animation-duration: 2s;
	animation-iteration-count: 1;
}
@keyframes index-title-title {
	0% {
		font-size: 0px;
		margin: 50px;
	}

	100% {
	}
}
.index-title-phar {
	font-size: 16px;
	animation-name: index-title-phar;
	animation-duration: 2s;
	animation-iteration-count: 1;
	margin-bottom: 40px;
}
@keyframes index-title-phar {
	0% {
		font-size: 0px;
		margin: 50px;
	}

	100% {
		color: rgb(255, 255, 255);
	}
}
.index-link {
	margin: 0 auto;
	text-align: center;
	padding: var(--padding-ten);
	font-size: 25px;
	animation-name: index-link;
	animation-duration: 3s;
	animation-iteration-count: 1;
	border: 1px solid rgba(169, 169, 169, 0.465);
	text-decoration: none;
}
.index-link:hover {
	background-color: rgba(206, 245, 203, 0.341);
	transition: 0.4s;
	transition: 0.4s;
}
.index-link-div {
	color: #261717;
	width: 200px;
	padding: 10px;
}
.index-link-top {
	margin-bottom: 20px;
	position: relative;

	animation-name: index-link-top;
	animation-duration: 4s;
}
@keyframes index-link-top {
	0% {
		bottom: -300px;
	}
	100% {
		bottom: 0;
	}
}
.index-link-down {
	animation-name: index-link-down;
	animation-duration: 1.5s;
	position: relative;
}
@keyframes index-link-down {
	0% {
		bottom: -300px;
	}
	100% {
		bottom: 0;
	}
}

.index-link-div:hover {
	color: #fefefe;
}

@media (max-width: 768px) {
	.index-title h1 {
		font-size: 50px;
	}
	.index-link {
		font-size: 30px;
	}
	.index-title p {
		font-size: 20px;
	}
	.index-link span {
		font-size: 15px;
	}
}
@media (max-width: 480px) {
	.index-title h1 {
		font-size: 30px;
	}
	.index-link {
		font-size: 20px;
	}
	.index-title p {
		font-size: 15px;
	}
	.index-link span {
		font-size: 12px;
	}
}
