.main {
	flex: 1 0 auto;
	margin-top: 170px;
}

.boss {
	
	margin-bottom: var(--margin-thirty);
}
.boss-container {
	display: flex;
	margin-bottom: var(--margin-five);
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	border: 6px solid rgb(0, 42, 255);

}
.boss-img {
	margin-bottom: var(--margin-ten);
	height: 300px;
}
.boss-img img {
	
	
}

.boss-img p {
	text-align: center;
	font-weight: 700;
	
}
p span {
	font-style: italic;
}
p span span {
	font-weight: 700;
}

.boss-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--padding-five);
	width: 50%;
}
.boss-text h1 {
	font-weight: 700;
	font-size: 30px;
	margin-bottom: var(--margin-ten);
	text-align: center;
}
.boss-text a {
	font-size: 15px;
	font-weight: 700;
	color: rgb(103, 34, 34);
}
.boss-text a:hover {
	text-decoration: underline;
	transition: 0.3s;
	color: rgb(212, 58, 58);
}
.boss-text p {
	text-indent: 40px;
	text-align: justify;
	font-size: 16px;
	margin-bottom: var(--margin-five);
}
.boss-text p:last-child {
	margin-bottom: 0px;
}
@media (max-width: 768px) {
	.boss-container {
		flex-direction: column;
		align-items: center;
	}
	.boss-img {
		min-width: 200px;
	}
	.boss-text {
		width: 100%;
	}
}

.boss-img {
	max-width: 250px;
	margin-right: var(--padding-five);
}
.boss-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-bottom: 5px;
}

.additional {
	display: flex;
	border: 2px solid black;
}
.additional-article {
	width: 50%;
	min-height: 50vh;
}
