.portfolio-gallery {
	/* display: flex; */
}
.portfolio-title h2 {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}
.portfolio-text {
}

.porftolio-section {
	margin-top: 100px;
	width: 100%;
	min-width: 0;
}

.pictures {

}

