.swiper {
	width: 600px;
	/* height: 300px; */
	cursor: grab;
	margin-bottom: var(--margin-five);
}
@media (max-width: 768px) {
	.swiper {
		width: 500px;
		
	}
}
@media (max-width: 520px) {
	.swiper {
		width: 320px;
		
	}
}
/* .swiper-wrapper {
	
	width: 100%;
	height: 100%;
 }
.swiper-slide {
	width: 100%;
	height: 100%;
} */
.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	
}
.swiper-pagination {
	color: rgb(255, 255, 255);
	font-weight: 700;
}
.swiper-button-prev::after {
	color: rgba(255, 255, 255, 0.8);
}
.swiper-button-next::after {
	color: rgba(255, 255, 255, 0.8);
}
